{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Just for fancy navbar logo -->
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script'
          rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet"
          href="{% static 'css/bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet"
          href="{% static 'css/toastr.min.css' %}"/>
    <link type="text/css" rel="stylesheet"
          href="{% static 'css/dataTables.bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet"
          href="{% static 'css/style.css' %}"/>
</head>
<style>

</style>
<body>
<!-- START HEADER -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top hidden-xs">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-logo" href="{% url 'users' %}">Test</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% url 'users' as users_url %}
                {% url 'courses' as courses_url %}

                <li><a class="{% if request.get_full_path == users_url %}active-nav-tab{% endif %}" href="{{ users_url }}">Users</a></li>
                <li><a class="{% if request.get_full_path == courses_url %}active-nav-tab{% endif %}" href="{{ courses_url }}">Courses</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER -->

<!-- START MAIN -->
<main>
    {% block content %}

    {% endblock %}
</main>
<!-- END MAIN -->

{% csrf_token %}

<!-- SCRIPS START -->
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatables.bootstap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>

{% block script %}

{% endblock %}
<!-- END SCRIPS -->
</body>
</html>